*.iml
*.apk
*.class
*.db
*.log
*.dex
*.pro
*.yml
*.jks
*~

bin/
build/
release/
gen/
proguard/
androidTest/
test/
mail/
failedmails/
**/you/res/drawable-anydpi/
**/light/res/drawable-anydpi/
**/dark/res/drawable-anydpi/
**/dayNight/res/drawable-anydpi/
**/dayNight/res/drawable-night-anydpi/

.idea/
.externalNativeBuild/
.gradle/

failedmail.txt
local.properties
gradlew
gradlew.bat
.DS_Store
bundletool.jar
.keystore/keystore.pwd
.keystore/arcticonskeystore.jks
*.eml
freedesktop-theme/arcticons*
/app/src/main/assets/contributors/downloaded
app/src/main/res/xml/contributors.xml
keystore.properties