*.iml
*.apk
*.class
*.db
*.log
*.dex
*.pro
*.yml
*~

bin/
build/
release/
gen/
proguard/
androidTest/
test/
mail/
mail2/
failedmails/

.idea/
.externalNativeBuild/
.gradle/

failedmail.txt
local.properties
gradlew
gradlew.bat
.DS_Store
bundletool.jar
.keystore/keystore.pwd
.keystore/arcticonskeystore.jks
*.eml
