:root {
  --btn-height: 44px;
}

.btn-container,
.btn,
.btn-child,
.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  color: var(--text-dark);
  text-align: left;
}

.btn-container,
.btn {
  border-radius: 40px;
  height: var(--btn-height);
  background-color: var(--primary);
  padding: 0px 16px;
  min-width: 60px;
}

.btn-container:hover,
.btn:hover,
.btn-round:hover {
  background-color: var(--secondary);
}

.btn-child {
  padding: 0px;
  background-color: #00000000;
}

.btn-container img,
.btn img,
.btn-child img,
.btn-round img {
  width: 24px;
  height: 24px;
}

.btn-input {
  display: flex;
  max-width: 56px;
  height: 28px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--white);
  box-sizing: border-box !important;
  overflow: visible;
  box-shadow: none;
  border: none;
  outline: none;
}

.btn-round {
  height: var(--btn-height);
  width: var(--btn-height);
  border-radius: 40px;
  background-color: var(--primary);
}

.btn-small {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 16px;
  filter: invert();
}

.btn-small:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(75%) saturate(900%) hue-rotate(206deg) brightness(87%) contrast(89%);
}

.btn-small:active {
  transform: scale(0.90);
}

.btn-container.active {
background-color: hsl(from var(--primary) h s 50%);
}

.longpress {
  -webkit-animation: 1s longpress;
  animation: 1s longpress;
}

@-webkit-keyframes longpress {

  0%,
  20% {
    background: var(--primary);
  }

  100% {
    background: hsl(from var(--primary) h s 40%);
  }
}

@keyframes longpress {

  0%,
  20% {
    background: var(--primary);
  }

  100% {
    background: hsl(from var(--primary) h s 40%);
  }
}

#copy-selected-button {
  transition: all .4s 0s ease;
  pointer-events: all;
  display: flex;
}

#copy-selected-button:hover:after {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s 1s ease;
}

/** Position of info box**/
#copy-selected-button:after {
  content: attr(aria-label);
  visibility: hidden;
  width: 120%;
  text-align: center;
  top: calc(100% + 35px);
  padding: 8px;
  background-color: #181818;
  color: var(--white);
  border-radius: 8px;
  opacity: 0;
  position: absolute;
  transform: translate3d(-0%, -25%, 0);
  transition: all 0.4s 0s ease;
  z-index: 2;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

  .btn-small {
    filter: none;
  }

  .btn-small:hover {
    filter: brightness(0) saturate(100%) invert(73%) sepia(42%) saturate(422%) hue-rotate(198deg) brightness(93%) contrast(96%);
  }
}

@media screen and (max-width: 1200px) {

  .btn-container {
    min-width: 20px;
  }
}