/* Header navigation container */
.header-container {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

/* Searchbar container */
#search-container {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1 0 0;
    gap: 8px;
}

/* Searchbar container */
#search-input-container {
    display: flex;
    min-width: 140px;
    width: 100%;
    position: relative;
    align-items: center;
}

.clear-search {
    position: absolute;
    display: block;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--white);
    background-color: #8b1708;
    font: 22px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
    visibility: hidden;
}

#search-input {
    width: 100%;
}

.textinput {
    box-sizing: border-box !important;
    overflow: visible;
    border-radius: 40px;
    background-color: #eee;
    border: 1.5px solid #171717;
    box-shadow: none;
    outline: none;
    padding: 0.8em 1.2em;
    font-size: 16px;
}

#renamer-overlay {
    text-align: center;
}


#random-reset-button {
    border: 1px solid var(--white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
    padding: 5px 15px;
    text-align: center;
    display: none;
    text-decoration: none;
    border-radius: 100px;
}

/* Span text for the I'm feeling lucky button*/
.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}

/* Potential updates container */

#updatable-container {
    flex: 1;
    display: flex;
    justify-content: stretch;

}

#show-multiple {
    text-align: end;
    height: 45px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.header-elements {
    display: flex;
}


@media screen and (max-width: 1200px) {

    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }

}

@media screen and (max-width: 800px) {

    .header-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
    }

    #random-container {
        display: none;
    }

    #regex-search-container {
        display: none;
    }

    #show-matching-drawables-btn {
        display: none;
    }

    #show-multiple {
        display: none;
    }

    #matching-number-input {
        display: none;
    }
}