/* Header navigation container */
.header-container {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

/* Searchbar container */
#search-container {
    display: flex;
    flex: 2;
    position: relative;
    /*display: inline-flex;*/
    align-items: center;
}

/* Searchbar container */
#search-input-container {
    display: flex;
    flex: 3\2;
    position: relative;
    padding-right: 5px;
    /*display: inline-flex;*/
    align-items: center;
}

.clear-search {
    position: absolute;
    display: block;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #8b1708;
    font: 22px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
    visibility: hidden;
}

#search-input {
    width: 100%;
}

.textinput {
    box-sizing: border-box !important;
    overflow: visible;
    border-radius: 100px;
    background-color: #eee;
    border: 1.5px solid #171717;
    box-shadow: none;
    outline: none;
    padding: 0.8em 1.2em;
    font-size: 16px;
}

#renamer-overlay {
    text-align: center;
}

#rename-button {
    height: 45px;
    font-size: 16px;
}

/* I'm feeling lucky container */
#random-container {
    flex: 1;
    display: flex;
    gap: 10px;
}

#random-button {
    flex: 1;
    width: 100%;
}

#random-number-input {
    max-width: 66px;
    box-sizing: border-box !important;
    overflow: visible;
    border-radius: 100px;
    background-color: #eee;
    border: 1.5px solid #171717;
    box-shadow: none;
    outline: none;
    padding: 0.8em 1.2em;
}

#matching-number-input {
    max-width: 60px;
    box-sizing: border-box;
    overflow: visible;
    background-color: #eee;
    border: 5px solid var(--primary);
    box-shadow: none;
    outline: none;
    padding: 5px 7px 5px 7px;
    height: 45px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

#random-reset-button {
    border: 1px solid red;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    padding: 5px 15px;
    text-align: center;
    display: none;
    text-decoration: none;
    border-radius: 100px;
}

/* Span text for the I'm feeling lucky button*/
.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}

/* Potential updates container */

#updatable-container {
    flex: 1;
    display: flex;
    justify-content: stretch;

}

#updatable-button {
    /*width: 100%;*/
    text-align: end;
    height: 45px;
}

#show-matching-drawables-btn {
    text-align: end;
    height: 45px;
}

#show-multiple {
    text-align: end;
    height: 45px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#show-matching-drawables-btn.active-toggle {
    background-color: var(--primary);
}

#regex-search-container {
    flex: 1;
    display: flex;
    align-items: center;
    /* Aligns the label and switch vertically */
    width: 100%;
    border: none;
    color: white;
    background-color: var(--primary);
    border-radius: 100px;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}

.header-elements {
    display: flex;
}


@media screen and (max-width: 1200px) {

    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }

}

@media screen and (max-width: 800px) {

    .header-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
    }

    #random-container {
        display: none;
    }

    #regex-search-container {
        display: none;
    }

    #show-matching-drawables-btn {
        display: none;
    }

    #show-multiple {
        display: none;
    }

    #matching-number-input {
        display: none;
    }
}