/* Header navigation container */
.header-container {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1 0 0;
    gap: 8px;
    border-radius: 40px;
    background-color: var(--white);
    padding: 0px 16px;
    height: 44px;
    border: solid 2px var(--black);
    box-sizing: border-box;
}

.search-input-container {
    display: flex;
    min-width: 140px;
    width: 100%;
    position: relative;
    align-items: center;
}

.textinput {
    width: 100%;
    overflow: visible;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
}

#regex-btn {
    display: flex;
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#regex-btn img {
    width: 28px;
    height: 28px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(39%) saturate(3448%) hue-rotate(219deg) brightness(96%) contrast(98%);
}

#regex-btn img:active{
    transform: scale(0.90);
}

#regex-btn.active img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(75%) saturate(900%) hue-rotate(206deg) brightness(87%) contrast(89%);

}

#renamer-overlay {
    text-align: center;
}

#random-reset-button {
    background-color: var(--red);
}

#random-reset-button:hover {
    background-color: hsl(from var(--red) h s 60%);
}


/* Span text for the I'm feeling lucky button*/
.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}

/* Potential updates container */

#updatable-container {
    flex: 1;
    display: flex;
    justify-content: stretch;

}

#show-multiple {
    text-align: end;
    height: 45px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.header-elements {
    display: flex;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {
    #search-container {
        border: none;
        box-sizing: none;
    }
}

@media screen and (max-width: 1200px) {

    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }

    #random-container p {
        display: none;

    }

    #btn-match-name p {
        display: none;
    }

    #btn-match-drawable p {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .header-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
    }

    #btn-match-name {
        display: none;
    }

    #btn-match-drawable {
        display: none;
    }

    #random-container {
        display: none;
    }

    #regex-search-container {
        display: none;
    }

    #show-matching-drawables-btn {
        display: none;
    }

    #show-multiple {
        display: none;
    }

    #matching-number-input {
        display: none;
    }
}