@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  font-variation-settings: "slnt" 0deg;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: 'Arcticons Sans';
  font-weight: 600;
  src: url("/fonts/ArcticonsSans-Regular.woff2");
}

:root {
    --white: #fff;
    --black: #000;
    --grey-90: #141314;
    --grey-80: #211f21;
    --grey-60: #474247;
    --grey-20: #e6e1e3;
    --grey-15: #ece8e8;
    --grey-10: #fff9f9;

    --background: var(--grey-10);
    --blue-60: #19215E;

    --primary: hsl(from var(--blue-60)h s 30%);
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

.content {
    margin-left: 8vw;
    margin-right: 8vw;
}

.logo {
    width: 160px;
    height: 60px;
    top: -50%;
    fill: var(--black);
    flex-shrink: 0;
    filter: invert();
}

.pagetop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#smallheader {
    display: none;
}

h1 {
    font-family: 'Arcticons Sans', sans-serif;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-family: 'Arcticons Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--grey-90);
        color: var(--white);
    }

    .links img {
        filter: none;
    }

    .logo {
        fill: var(--white);
        filter: none;
    }

}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 150%;
    }
}

@media screen and (max-width: 680px) {
    #header {
        display: none;
    }

    #smallheader {
        display: block;
        position: relative;
        left: 0%;
        transform: translateX(0%);
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #date_header {
        display: block;
        position: relative;
        left: 0%;
        transform: translateX(0%);
        width: 100%;
        margin-top: 5px;
        margin-bottom: 0px;
    }
}