/* Style for the preview overlay */
.preview-overlay-class {
    display: none;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 650px;
    /* semi-transparent black */
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    overflow: auto;
    border-radius: 20px;
}

.preview-arcticon {
    filter: invert();
}

/* Style for the preview image */
.preview-image-class {
    max-width: 80%;
    max-height: 80%;
    min-width: 200px;
    padding: 10px;
}

/* Style for the close button */
.close-button-class {
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .preview-overlay-class {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .preview-arcticon {
        filter: none;
    }

    .close-button-class {
        color: white;
    }

}