.notification {
    display: none;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

#copy-notification {
    background-color: var(--primary);
    color: var(--text);
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

#search-notification {
    background-color: var(--warn);
    color: var(--text);
    top: 20px;
    right: 10px;
}

@media (prefers-color-scheme: dark) {
    #copy-notification {
        color: var(--text-dark);
    }

    #search-notification {
        color: var(--text-dark);
    }
}