/* The switch - the box around the slider */
.switch {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 56px !important;
  height: 20px !important;
  margin-right: 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-20);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: -1px;
  bottom: -7px;
  background-color: var(--grey-80);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background-color: hsl(from var(--blue-60)h s 80%);
}

input:focus+.slider {
  box-shadow: 0 0 2px var(--primary);
}

input:checked+.slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}