<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <!-- ADW Launcher -->
            <intent-filter tools:node="merge" >
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.icontheme.CHANGES_WITH_MATERIAL_YOU_COLORS" />
                <category android:name="org.icontheme.FALLBACK_TO_THEMED_ICON" />
                <category android:name="org.icontheme.CHANGES_WITH_DARK_MODE" />
            </intent-filter>
            <!-- Lawnchair Material You-->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />
                <action android:name="app.lawnchair.icons.THEMED_ICON" />
                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>
        </activity>
    </application>
</manifest>