@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  font-variation-settings: "slnt" 0deg;
  src: url("../img/Inter.var.woff2") format("woff2");
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
body{
  background-color: #1e1e1e;
}

p{
  margin-bottom: 2rem;
}

h1{
  padding-top: 2vw;
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}
h3{
  font-size: 1.75rem;
  color: #333;
}
.actions{
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media(min-width: 500px){
  .actions{
    grid-template-columns: auto auto;
  }
}

@media(min-width: 580px){
  #download>div{
    grid-template-columns: auto auto;
  }
}
#searchbox{
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#search{
  margin: 1em 0;
  width: calc(100% - .5rem - 16px);
  box-sizing: border-box !important;
  overflow: visible;
  min-height: 3rem;
  border-radius: 4em;
  border: 1.5px solid #171717;
  box-shadow: none;
  outline: none;
  padding: 0.8em 1.2em;
}

#search:hover, #search:focus{
  border-color: #000;
  transition: all 200ms ease-in-out;
}
#colored{
  margin: 1rem 0;
  margin-left: 1rem;
  width: 3rem;
  filter: brightness(0);
}
[data-colored="true"]{
  filter: none !important;
}
[aria-disabled=true]{
  display: none;
}
#results{
  overflow: auto;
  overflow-x: none;
}
.tab{
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  grid-gap: 0 1rem;
  place-content: center;
}
.tab img{
  width: 96px;
  height: 96px;
}
.latest{
  display: grid;
  grid-template-columns: repeat(auto-fill, 128px);
  grid-gap: 0 1rem;
  justify-content: center;
}
.latest img{
  min-width: 96px;
  min-height: 96px;
  max-width: 128px;
  max-height: 128px;
}
.content{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#mc .lazy{
  filter: saturate(0);
}
figure{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  display: flex;
  flex-direction: column;
}
figure figcaption{
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
figure img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}
figure button{
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
aside{
  display: none;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  font-weight:bold;
  text-decoration: none;
}
a:active {
  color: #fff;
}