* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: var(--white); 
  color: var(--black);
}

.pright {
  filter: invert();
  text-align: right;
}

.splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 10% 2.5rem 10%;
  min-height: 90vh;
  background-color: #171717;
  background-image: url(../img/arcticons/grid.png);
  background-size: 50%;
  background-position: top left, center center;
  background-attachment: fixed;
}

.splash>* {
  margin-bottom: 1rem;
}

.splash>p {
  font-size: 1.5rem;
}

.splash li {
  display: inline-block;
  list-style-type: none;
}

.button-splash {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section {
  padding: 2.5rem 10% 2.5rem 10%;
  color: #171717;
  font-size: 1.25rem;
}

h1 .dark {
  color: #fff;
}

.dark {
  color: #fff;
  text-align: right;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 2rem;
}

a {
  color: var(--link);
  cursor: pointer;
}

.social {
  filter: invert();
  height: 48px;
  margin: 0px 8px 0px;
}

.social:hover {
  filter: invert() drop-shadow(0 0 4px rgba(58, 49, 49, 0.3));
}

.actions {
  margin: 0 auto;
}

@media(min-width: 500px) {
  .actions {
    grid-template-columns: auto auto;
  }
}

.download {
  margin: 0 auto;

}

@media(min-width: 500px) {
  .download {
    grid-template-columns: auto auto;
  }
}

a>button {
  font-family: 'Inter', sans-serif;
  display: inline-block;
  background-color: #eee;
  border-radius: 24px;
  width: 148px;
  height: 48px;
  gap: 8px;
}

a>button:hover {
  background-color: #b1b1b1;
  cursor: pointer;
}

a>button.dark {
  background-color: #171717;
  color: #eee;
  justify-content: left;
  align-items: center;
  display: inline-flex;
  width: 184px;
  padding: 8px 16px 8px;
}

a>button.light {
  background-color: #171717;
  color: #eee;
  justify-content: left;
  align-items: center;
  display: inline-flex;
  width: 184px;
  padding: 8px 16px 8px;
  filter: invert();
}

a>button>img {
  height: 100%;
}

.button:hover {
  display: inline-block;
  border-radius: 100px;
  background-color: #b1b1b1;
}

.align-right {
  text-align: right;
  align-items: center;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;

}

.align-left {
  text-align: left;
  align-items: center;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.phone {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  filter: drop-shadow(0 0 0.75rem #17171790);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

#searchbox {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#search {
  margin: 1em 0;
  width: calc(100% - .5rem - 16px);
  box-sizing: border-box !important;
  overflow: visible;
  min-height: 3rem;
  border-radius: 4em;
  background-color: #eee;
  border: 1.5px solid #171717;
  box-shadow: none;
  outline: none;
  padding: 0.8em 1.2em;
}

#colored {
  margin: 1rem 0;
  margin-left: 1rem;
  width: 3rem;
  filter: brightness(0);
}

[data-colored="true"] {
  filter: none !important;
}

[aria-disabled=true] {
  display: none;
}

#results {
  overflow: auto;
  overflow-x: none;
}

.tab {
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  grid-gap: 0 1rem;
  place-content: center;
}

.tab img {
  width: 96px;
  height: 96px;
}

#mc .lazy {
  filter: saturate(0);
}

figure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 238, 238, 0.867);
  margin: 0;
  display: flex;
  flex-direction: column;
}

figure figcaption {
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

figure img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

figure button {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

aside {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #121212;
}

/* Selection */
::-moz-selection {
  color: #f1f1f1;
  background: #121212;
}

::selection {
  color: #f1f1f1;
  background: #121212;
}

@media screen and (max-width: 800px) {

  hr.inv4 {
    display: none;
  }
}