
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  font-variation-settings: "slnt" 0deg;
  src: url("../img/Inter.var.woff2") format("woff2");
}
*{
  margin: 0;
  padding: 0;
  border: 0;  font-size: 100%;
  vertical-align: baseline;
}
html{
  font-family: 'Inter', sans-serif;
  text-align: center;
}

body{
  background-color: #fff;
}

/*header ul, footer ul{

}*/
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 10% 2.5rem 10%;
  min-height: 100vh;
  background-color: #171717;
  background-image: url(../img/arcticons/grid.png);
  background-size: 50%;
  background-position: top left, center center;
  background-attachment: fixed;
}
header>*{
  margin-bottom: 1rem;
}
header>p{
  font-size: 1.5rem;
}
header li, footer li{
  display: inline-block;
  list-style-type: none;
}

section{
  padding: 2.5rem 10% 2.5rem 10%;
  color: #171717;
  font-size: 1.25rem;
}


.dark {
  text-align: right;
  color: #fff;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

h1{
  color: #fff;
  font-size: 5rem;
}

h2{
  text-align: left;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #333;
}

h3{
  font-size: 1.75rem;
  color: #333;
}

p {
  color: #171717;
  font-size: 20px;
  text-align: left;
  margin-bottom: 2rem;
}

a {
  color: #333;
}


.actions{
  margin: 0 auto;
}
@media(min-width: 500px){
  .actions{
    grid-template-columns: auto auto;
  }
}

.download{
  margin: 0 auto;
  
}
@media(min-width: 500px){
  .download{
    grid-template-columns: auto auto;
  }
}

button {
  display: inline-block;
  background-color: #eee;
  border-radius: 40px;
  padding: 8px 0px;
  width: 120px;
  height: 50px;
}

button:hover {
  background-color: #b1b1b1;
  font-weight: 800;
}

button.dark {
  background-color: #171717;
  color: #eee;
  justify-content: left;
  align-items: center;
  display: inline-flex;
  gap: 12px;
  width: 180px;
  padding-left: 22px;
  height: 45;
}

button.light {
  background-color: #171717;
  color: #eee;
  justify-content: left;
  align-items: center;
  display: inline-flex;
  gap: 12px;
  width: 180px;
  padding-left: 22px;
  height: 45;
  filter: invert();
}

.align-right {
  text-align: right;
  align-items: center;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;

}

.align-left {
  text-align: left;
  align-items: center;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

hr.inv {
  border: 6px;
  margin-top: .5em;
  margin-bottom: .5em;
}

hr.inv2 {
  border: 6px;
  margin-top: 6em;
  margin-bottom: 6em;
}

.button{
  display: inline-block;
  padding: 0rem 1.25rem 0rem 1.25rem;
  border-radius: 30px;
  color: #171717;
  display: inline-flex;
  padding: 8px 0px;
  width: 80px;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  line-height: normal; 
}

.button:hover{
  display: inline-block;
  border-radius: 100px;
  background-color: #b1b1b1;
}

.button a{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: .5rem;
  padding-right: .5rem;
}

.button.dark{
  display: inline-flex; 
  width: 180px;
  padding: 8px 0px;
  border-radius: 100px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px; 
  background-color: #171717;
  line-height: normal; 
}
.button.dark a{
  color: #eee;
}


.phone { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: drop-shadow(0 0 0.75rem #17171790);
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

#searchbox{
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#search{
  margin: 1em 0;
  width: calc(100% - .5rem - 16px);
  box-sizing: border-box !important;
  overflow: visible;
  min-height: 3rem;
  border-radius: 4em;
  background-color: #eee;
  border: 1.5px solid #171717;
  box-shadow: none;
  outline: none;
  padding: 0.8em 1.2em;
}

#colored{
  margin: 1rem 0;
  margin-left: 1rem;
  width: 3rem;
  filter: brightness(0);
}
[data-colored="true"]{
  filter: none !important;
}
[aria-disabled=true]{
  display: none;
}
#results{
  overflow: auto;
  overflow-x: none;
}
.tab{
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  grid-gap: 0 1rem;
  place-content: center;
}
.tab img{
  width: 96px;
  height: 96px;
}

#mc .lazy{
  filter: saturate(0);
}
figure{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 238, 238, 0.867);
  margin: 0;
  display: flex;
  flex-direction: column;
}
figure figcaption{
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
figure img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}
figure button{
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
aside{
  display: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  font-weight:bold;
  text-decoration: none;
}
a:active {
  color: #121212;
}

/* Selection */
::-moz-selection {
  color: #f1f1f1;
  background: #121212;
}

::selection {
  color: #f1f1f1;
  background: #121212;
}

/* grid */

.grid-content-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-left: 10rem; 
  margin-right: 10rem;
}

.grid-content-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1em;
  row-gap: 2em;
  margin-left: 10rem; 
  margin-right: 10rem;
}

.grid-content-3 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 1em;
row-gap: 1em;
}

@media screen and (max-width: 1200px) {
  .grid-content-left {
    grid-template-columns: 1fr 1fr;
  }
  .grid-content-right {
    grid-template-columns: 1fr 1fr;
}  
}

@media screen and (max-width: 800px) {

  .grid-content-left {
    grid-template-columns: 1fr;
    margin-left: 1rem; 
    margin-right: 1rem;
  }
  
  .grid-content-right {
    grid-template-columns: 1fr;
    margin-left: 1rem; 
    margin-right: 1rem;
  }

  .grid-content-3 {
    grid-template-columns: 1fr;
  }
}
.content {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 4vw;
}

.contentdark {
  background-color: #121212;
}
