.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.category-container{
    height: 600px;

}

#category-button:active {
    transform: scale(0.95);
}

/* Style for activated buttons */
#category-button[activated] {
    background-color: #007bff;
    color: #ffffff;
    border-color: #0056b3;
    font-weight: bold;
}

#search-input_category {
    width: 100%;
}

#clear-category{
    background-color: #8b1708;
    visibility: hidden;
    right: 10px;
    aspect-ratio: 1 / 1;
}

#clear-category:hover{
    background-color: #be1d07;
}

