@font-face {
    font-family: 'Arcticons-Sans';
    font-weight: 400;
    src: url("../img/ArcticonsSans-Regular.woff2") format("woff2");
  }

body {
    font-family: 'Arcticons-Sans', Arial, Helvetica, sans-serif;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: white;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #171717;
        color: white;
    }

    .links img {
        filter: none;
    }
}