.table-container {
    max-height: 1200px;
    /* Set maximum height for scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.table-container thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    z-index: 1;
    /* table head will be placed from the top of the table and sticks to it */
}

.sortable-header {
    cursor: pointer;
    /* Add cursor style for sorting */
    position: relative;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid #000000;
}

.desc::after {
    border-top: 4px solid #000000;
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    max-width: 60px;
}

td:nth-child(3) {
    width: 25%;
    min-width: 180px;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-child(5) {
    width: 15%;
}

td:nth-child(6) {
    max-width: 100px;
    ;
}

td:nth-child(8) {
    display: none;
    max-width: 60px;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

th {
    background-color: #f2f2f2;
}

/* Quick link images*/
.links img {
    filter: invert();
    width: 50px;
    height: 50px;
}

.icon-preview img {
    width: 50px;
    height: 50px;
}

/* Copy appfilter button*/
#copy-button {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: #5a975c !important;
    /* Green glow color */
    transition: background-color 0.5s ease-in;
}

.copy-icon {
    display: none;
    width: 20px;
    height: 20px;
}

.copy-text {
    display: inline;
}

#show-matching-drawables {
    display: none;
    /* Hide the column by default */
}

/* Show the column when the button is clicked */
#show-matching-drawables.active {
    display: table-cell;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    tr:nth-child(even) {
        background-color: rgb(37, 37, 37);
    }

    th {
        background-color: #0f0f0f;
    }

    .links img {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}

@media screen and (max-width: 1300px) {
    .links img {
        width: 40px;
        height: 40px;
    }

    .icon-preview img {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 1100px) {
    .links img {
        width: 30px;
        height: 30px;
    }

    .icon-preview img {
        width: 30px;
        height: 30px;
    }

    .copy-icon {
        display: inline;
    }

    .copy-text {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    #galaxy{
        display: none;
    }
    td:nth-child(3) {
        min-width: 150px;
    }
}

@media screen and (max-width: 730px) {
    #izzy{
        display: none;
    }
    td:nth-child(3) {
        min-width: 110px;
    }
}

@media screen and (max-width: 700px) {
    #fdroid{
        display: none;
    }
    td:nth-child(3) {
        min-width: 70px;
    }
}