#RegexSearchSettings {
    width: 100%;
    border: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
}

#RegexSearchSettings:hover {
    background-color: #409943;
}

#info {
    position: fixed;
    z-index: 4;
    text-align: center;
    margin-top: -5px;
    margin-left: 290px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: rgb(0, 0, 0) solid 3px;
    font-size: 22px;
    line-height: 1.1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popup-header {
    display: flex;
    align-items: center;
}

.popup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,
            0,
            0,
            0.4);
    display: none;
}

.popup-content {
    z-index: 2;
    background-color: white;
    margin: 250px auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 310px;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {
    display: block;
    color: black;
}

.Setting {
    align-items: center;
    width: 190px;
    margin: 5px 0px 5px 0px;
}

.settings-row {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

#closePopup {
    width: 100%;
    border: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
}

#seperator {
    width: 100%;
    color: #888888;
}

/* The actual popup */
.info-popup .popuptext {
    visibility: hidden;
    width: 700px;
    background-color: #e7e7e7;
    color: #000000;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -500px;
    cursor: default;
}

/* Popup arrow */
.info-popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 71.43%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e7e7e7 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.info-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {
    .popup-content {
        background-color: #0f0f0f;
        color: white
    }

    .info-popup .popuptext {
        background-color: #555;
        color: #fff;
    }

    #info {
        color: white;
        background-color: rgba(255, 255, 255, 0);
        border: white solid 3px;
    }

    .info-popup .popuptext::after {
        border-color: #555 transparent transparent transparent;
    }
}