@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    font-variation-settings: "slnt" 0deg;
    src: url("../img/Inter.var.woff2") format("woff2");
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: white;
}

.logo {
    width: 160px;
    height: 60px;
    top: -50%;
    fill: #000;
    flex-shrink: 0;
    filter: invert();
}

.pagetop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#smallheader {
    display: none;
}

h1 {
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #171717;
        color: white;
    }

    .links img {
        filter: none;
    }

    .logo {
        fill: #fff;
        filter: none;
    }

}

@media screen and (max-width: 800px) {
    #header {
        display: none;
    }

    #smallheader {
        display: block;
    }
}