footer {
    color: #fff;
    padding: 80px 8vw;
    font-size: 16px;

}

footer p {
    color: #fff;
    text-align: center;

}

footer a {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
  }