footer p {
    color: var(--text);
    padding: 80px 8vw;
    font-family: var(--main-font);
    font-size: 18px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    footer {
        color: var(--white);
    }
}