footer {
    color: var(--white);
    padding: 80px 8vw;
    font-family: 'Arcticons Sans', sans-serif;
    font-size: 18px;
}

footer p {
    color: var(--text);
    text-align: center;
}

footer a {
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}
