.green-button {
    border: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.green-button:hover {
    background-color: #409943;
}