.green-button {
  border: none;
  color: white;
  background-color: #4CAF50;
  border-radius: 100px;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.green-button:hover {
  background-color: #409943;
}

.longpress {
  -webkit-animation: 1s longpress;
  animation: 1s longpress;
}

@-webkit-keyframes longpress {

  0%,
  20% {
    background: #4CAF50;
  }

  100% {
    background: yellow;
  }
}

@keyframes longpress {

  0%,
  20% {
    background: #4CAF50;
  }

  100% {
    background: yellow;
  }
}

#copy-selected-button {
  position: relative;
  transition: all .4s 0s ease;
}

#copy-selected-button,
#copy-selected-button:before,
#copy-selected-button:after {
  box-sizing: border-box;
}

#copy-selected-button:hover:before,
#copy-selected-button:hover:after {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s 1s ease;
  /** that's the magic **/
}

/** Position of info box**/
#copy-selected-button:before,
#copy-selected-button:after {
  content: "";
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-70%, -25%, 0);
  transition: all 0.4s 0s ease;
  z-index: 2;
}

#copy-selected-button:before {
  width: 0;
  height: 0;
  right: -8px;
  border: 16px solid transparent;
  border-bottom-color: #181818;
}

#copy-selected-button:after {
  content: attr(aria-label);
  width: 120%;
  top: calc(100% + 16px);
  padding: 10px;
  background-color: #181818;
  color: #fff;
  border-radius: 8px;
}