.green-button {
    border: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.green-button:hover {
    background-color: #409943;
}

.longpress {
    -webkit-animation: 1s longpress;
            animation: 1s longpress;
}

@-webkit-keyframes longpress {
    0%, 20% { background: #4CAF50; }
    100% { background: yellow; }
}

@keyframes longpress {
    0%, 20% { background: #4CAF50; }
    100% { background: yellow; }
}
