#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.category-container{
    height: 600px;

}

#categories .green-button:active {
    transform: scale(0.90);
}

#categories .green-button.hidden {
    display: none;
}

/* Style for activated buttons */
#categories .green-button[activated] {
    background-color: #007bff;
    color: #ffffff;
    border-color: #0056b3;
    font-weight: bold;
}

#search-input_category {
    width: 100%;
}

#clear-category{
    background-color: #8b1708;
    visibility: hidden;
    right: 10px;
    aspect-ratio: 1 / 1;
}

#clear-category:hover{
    background-color: #be1d07;
}

