#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.category-container {
    height: 100%;

}

#categories .btn:active {
    transform: scale(0.90);
}

#categories .btn.hidden {
    display: none;
}

/* Style for activated buttons */
#categories .btn[activated] {
    background-color: hsl(from var(--primary) h s 60%);
    color: #ffffff;
    font-weight: bold;
}

#search-input_category {
    width: 100%;
}

#clear-category {
    background-color: var(--red);
}

#clear-category:hover {
    background-color: hsl(from var(--red) h s 60%);
}

.accordion {
    width: 100%;
}

summary {
    padding: 20px 16px;
    text-align: center;
    background-color: var(--grey-20);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    border-radius: 40px;
}

summary:hover {
    background-color: hsl(from var(--primary) h s 60%);
}

details>summary::after {
    content: "Show categrories";
}

details[open]>summary::after {
    content: "Hide categrories";
}

details .category-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease, opacity 0.2s ease;
    opacity: 0;
}

details[open] .category-container {
  max-height: 100%;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {

    summary {
        background-color: var(--grey-80);
    }

    summary:hover {
        background-color: var(--grey-60);
    }
}