#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.category-container{
    height: 600px;

}

#categories .btn:active {
    transform: scale(0.90);
}

#categories .btn.hidden {
    display: none;
}

/* Style for activated buttons */
#categories .btn[activated] {
    background-color: hsl(from var(--primary) h s 60%);
    color: #ffffff;
    font-weight: bold;
}

#search-input_category {
    width: 100%;
}

#clear-category{
    background-color: var(--red);
}

#clear-category:hover{
    background-color: hsl(from var(--red) h s 60%);
}

