.table-container {
    height: 75vh;
    width: 100%;
    overflow-y: auto;
}

.table-container thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.floating-container {
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 0vh;
    z-index: 10;
    top: 81.5%;
    right: 50%;
    transform: translate(50%, -50%);
    pointer-events: none;
    gap: 8px;
}

.floating-container.active{
    display: flex;
}

.sortable-header {
    cursor: pointer;
    position: relative;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid var(--black);
}

.desc::after {
    border-top: 4px solid var(--black);
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

th {
    padding: 8px 0px;
    text-align: left;
    border-bottom: solid 2px var(--hover);
    background-color: var(--background);
    white-space: nowrap;
}

td {
    padding-top: 4px;
    text-align: left;
    border-bottom: solid 1px var(--hover);
}

td:nth-child(1) {
    width: 52px;
}

td:nth-child(2) {
    width: 52px;
    display: none;
}

td:nth-child(3) {
    width: auto;
    max-width: 70px;
    min-width: 270px;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(4) {
    min-width: 90px;
    width: 5%;
}

td:nth-child(5) {
    min-width: 100px;
    width: 5%;
}

td:nth-child(6) {
    min-width: 110px;
    width: 10%;
}

td:nth-child(7) {
    min-width: 145px;
    width: 150px;
}

.arcticon {
    filter: invert();
}

.icon-preview img {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.componentinfo {
    font-size: 11px;
    color: var(--secondary-text);
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: var(--secondary) !important;
    transition: background-color 0.2s ease;
}

tr {
    content-visibility: auto;
    contain-intrinsic-size: 0 50px;
}

tr:hover {
    background-color: var(--hover);
}

#show-matching-drawables {
    display: none;
    /* Hide the column by default */
}

/* Show the column when the button is clicked */
#show-matching-drawables.active {
    display: table-cell;
}

/* Context Menus */
.context-menu {
    margin: 0;
    border: none;
    padding: 8px;
    background: hsl(from var(--background) h s 95%);
    color: var(--on-secondary-container);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    min-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.row-style {
    position: fixed;
    opacity: 0;
    transform: scale(0.9);
    z-index: 1000;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out,
        display 0.1s allow-discrete;
}

.row-style:popover-open {
    opacity: 1;
    transform: scale(1);
}

@starting-style {
    .row-style:popover-open {
        opacity: 0;
        transform: scale(0.9);
    }
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    th {
        background-color: var(--background-dark);
    }

    td {
        border-bottom: solid 1px var(--hover-dark);
    }

    tr:hover {
        background-color: var(--hover-dark);
    }

    tr.row-glow {
        background-color: var(--secondary-dark) !important;
    }

    .componentinfo {
        color: var(--secondary-text-dark);
    }

    .context-menu {
        background: hsl(from var(--background-dark) h s 15%);
    }


    .arcticon {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid var(--white);
    }

    .desc::after {
        border-top: 4px solid var(--white);
    }
}

@media screen and (max-width: 1100px) {

    .copy-text {
        display: none;
    }

    th:nth-child(7) {
        display: none;
    }

    td:nth-child(7) {
        display: none;
    }
}