.table-container {
    max-height: 1200px;
    /* Set maximum height for scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.table-container thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.sortable-header {
    cursor: pointer;
    position: relative;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid var(--black);
}

.desc::after {
    border-top: 4px solid var(--black);
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

th {
    padding: 8px 0px;
    text-align: left;
    border-bottom: solid 2px var(--grey-60);
    background-color: var(--background);
    white-space: nowrap;
}

td {
    padding-top: 4px;
    text-align: left;
    border-bottom: solid 1px var(--grey-20);
}

td:nth-child(1) {
    width: 52px;
}

td:nth-child(2) {
    width: 52px;
    display: none;
}

td:nth-child(3) {
    width: auto;
}

td:nth-child(4) {
    width: 15%;
    min-width: 140px;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(6) {
    width: 10%;
}
td:nth-child(7){
    min-width: 110px;
    width: 10%;
}

td:nth-child(8) {
    min-width: 85px;
    width: 95px;
}

.arcticon {
    filter: invert();

}

.icon-preview img {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

/* Copy appfilter button*/
.copy-button {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: hsl(from var(--primary) h s 60%) !important;
    transition: background-color 0.2s ease;
}

tr {
    content-visibility: auto;
    contain-intrinsic-size: 0 50px;
}

tr:hover {
    background-color: var(--grey-20);
}


.copy-text {
    display: inline;
}

#show-matching-drawables {
    display: none;
    /* Hide the column by default */
}

/* Show the column when the button is clicked */
#show-matching-drawables.active {
    display: table-cell;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    th {
        background-color: var(--grey-90);
    }

    td {
        border-bottom: solid 1px var(--grey-60);
    }

    tr:hover {
        background-color: var(--grey-60);
    }

    .arcticon {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}

@media screen and (max-width: 1100px) {

    .copy-text {
        display: none;
    }

    th:nth-child(7) {
        display: none;
    }
    td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #fdroid {
        display: none;
    }
}