.table-container {
    max-height: 1200px;
    /* Set maximum height for scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.table-container thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    z-index: 1;
    /* table head will be placed from the top of the table and sticks to it */
}

.sortable-header {
    cursor: pointer;
    /* Add cursor style for sorting */
    position: relative;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid var(--black);
}

.desc::after {
    border-top: 4px solid var(--black);
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

th{
    padding: 8px;
    text-align: left;
    border-bottom: solid 2px var(--grey-60);
    background-color: var(--background);
}

td {
    padding-top: 4px;
    text-align: left;
    border-bottom: solid 1px var(--grey-20);
}

td:nth-child(1) {
    max-width: 52px;    
}

td:nth-child(2) {
    max-width: 52px;    
    display: none;
}

td:nth-child(3) {
   width: 30%;
}

td:nth-child(4) {
    width: 15%;
    min-width: 60px;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(6) {
     width: 10%;
}

td:nth-child(8) {
    max-width: 10%;
    
}

/* Quick link images*/
.links{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 40px;
}

.links:hover {
    background-color: hsl(from var(--primary) h s 60%);
}

.arcticon {
    filter: invert();

}

.icon-preview img {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

/* Copy appfilter button*/
.copy-button {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: hsl(from var(--primary) h s 60%) !important;
    transition: background-color 0.2s ease;
}

tr {
    content-visibility: auto;
    contain-intrinsic-size: 0 50px;
}

tr:nth-child(even) {
    background-color: var(--grey-10);
}


.copy-text {
    display: inline;
}

#show-matching-drawables {
    display: none;
    /* Hide the column by default */
}

/* Show the column when the button is clicked */
#show-matching-drawables.active {
    display: table-cell;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    tr:nth-child(even) {
        background-color: var(--grey-80);
    }

    th {
        background-color: var(--grey-90);
    }

    td {
        border-bottom: solid 1px var(--grey-60);
    }

    .links {
        filter: none;
    }
    .arcticon {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}

@media screen and (max-width: 1300px) {
    .links {
        width: 40px;
        height: 40px;
    }

    .icon-preview img {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 1100px) {
    .links {
        width: 30px;
        height: 30px;
    }

    .icon-preview img {
        width: 30px;
        height: 30px;
    }

    .copy-icon {
        display: inline;
    }

    .copy-text {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    #galaxy{
        display: none;
    }
    td:nth-child(3) {
        min-width: 150px;
    }
}

@media screen and (max-width: 730px) {
    #izzy{
        display: none;
    }
    td:nth-child(4) {
        min-width: 110px;
    }
}

@media screen and (max-width: 700px) {
    #fdroid{
        display: none;
    }
    td:nth-child(4) {
        min-width: 70px;
    }
}
