td:nth-child(1) {
    width: 52px;
}

td:nth-child(2) {
    width: 52px;
    display: none;
}

td:nth-child(3) {
    width: auto;
    max-width: 70px;
    min-width: 270px;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(4) {
    min-width: 90px;
    width: 5%;
}

td:nth-child(5) {
    min-width: 100px;
    width: 5%;
}

td:nth-child(6) {
    min-width: 110px;
    width: 10%;
}

td:nth-child(7) {
    min-width: 145px;
    width: 150px;
}

#show-matching-drawables {
    display: none;
    /* Hide the column by default */
}

/* Show the column when the button is clicked */
#show-matching-drawables.active {
    display: table-cell;
}

/* Context Menus */
.context-menu {
    margin: 0;
    border: none;
    padding: 8px;
    background: hsl(from var(--background) h s 95%);
    color: var(--on-secondary-container);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    min-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.row-style {
    position: fixed;
    opacity: 0;
    transform: scale(0.9);
    z-index: 1000;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out,
        display 0.1s allow-discrete;
}

.row-style:popover-open {
    opacity: 1;
    transform: scale(1);
}

@starting-style {
    .row-style:popover-open {
        opacity: 0;
        transform: scale(0.9);
    }
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {
    .arcticon {
        filter: none;
    }
}

@media screen and (max-width: 1100px) {

    .copy-text {
        display: none;
    }

    th:nth-child(7) {
        display: none;
    }

    td:nth-child(7) {
        display: none;
    }
}