<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        tools:ignore="GoogleAppIndexingWarning,GoogleAppIndexingUrlError"
        android:name=".applications.CandyBar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        >

        <meta-data
            android:name="org.breezyweather.PROVIDER_CONFIG"
            android:resource="@xml/breezy_icon_provider_config" />
        <meta-data
            android:name="org.breezyweather.DRAWABLE_FILTER"
            android:resource="@xml/breezy_icon_provider_drawable_filter" />
        <meta-data
            android:name="org.breezyweather.ANIMATOR_FILTER"
            android:resource="@xml/breezy_icon_provider_animator_filter" />
        <meta-data
            android:name="org.breezyweather.SHORTCUT_FILTER"
            android:resource="@xml/breezy_icon_provider_shortcut_filter" />

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.Starting"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="org.breezyweather.ICON_PROVIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- ADW Launcher -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- ADW Launcher Custom Icon Picker -->
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Apex Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <!-- GO Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Atom Launcher -->
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME" />
            </intent-filter>
            <!-- Turbo Launcher Custom Icon Picker -->
            <intent-filter>
                <action android:name="com.phonemetra.turbo.launcher.icons.ACTION_PICK_ICON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Nine Launcher -->
            <intent-filter>
                <action android:name="com.gridappsinc.launcher.theme.apk_action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             <!-- Lawnchair Launcher -->
            <intent-filter>
                <action android:name="app.lawnchair.icons.THEMED_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Lawnchair -->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />

                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>
            <!-- Nova Launcher Custom Icon Picker -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />

                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>
            <!-- Solo Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="home.solo.launcher.free.THEMES" />
                <action android:name="home.solo.launcher.free.ACTION_ICON" />
            </intent-filter>
            <!-- LG Home -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lge.launcher2.THEME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- OnePlus Launcher -->
            <intent-filter>
                <action android:name="net.oneplus.launcher.icons.ACTION_PICK_ICON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- TSF Shell -->
            <intent-filter>
                <action android:name="com.tsf.shell.themes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Smart Launcher -->
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Sony Launcher -->
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- GO Launcher & Zero Launcher -->
            <intent-filter>
                <action android:name="com.gau.go.launcherex.theme" />
                <action android:name="com.zeroteam.zerolauncher.theme" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <!-- +HOME Icon Picker -->
            <intent-filter>
                <action android:name="jp.co.a_tm.android.launcher.icons.ACTION_PICK_ICON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- V Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.vivid.launcher.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".services.ClockWidget"
            android:label="Clock Widget 1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_1" />

        </receiver>

        <receiver
            android:name=".services.ClockWidgetTwo"
            android:label="Clock Widget 2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_2" />
        </receiver>

        <receiver
            android:name=".services.ClockWidgetThree"
            android:label="Clock Widget 3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_3" />
        </receiver>

        <receiver
            android:name=".services.ClockWidgetFour"
            android:label="Clock Widget 4"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_4" />

        </receiver>

        <receiver
            android:name=".services.ClockWidgetFive"
            android:label="Clock Widget 5"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_5" />
        </receiver>

        <receiver
            android:name=".services.ClockWidgetSix"
            android:label="Clock Widget 6"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_6" />
        </receiver>

        <receiver
            android:name=".services.DateWidget"
            android:label="Date Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/date_widget_info" />
        </receiver>

        <receiver
            android:name=".services.DigitalClockWidget"
            android:exported="true"
            android:label="Digital Clock Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/digital_clock_widget_info" />
        </receiver>

        <!-- This is important -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>
