td:nth-child(1) {
    width: 48px;
}

td:nth-child(2) {
    width: 48px;
}

td:nth-child(3) {
    width: auto;
    max-width: 70px;
    min-width: 270px;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(4) {
    width: 65px;
    max-width: 70px;
}