.table-container {
    max-height: 1200px;
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: anywhere;
}

.table-container thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.sortable-header {
    cursor: pointer;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid var(--black);
}

.desc::after {
    border-top: 4px solid var(--black);
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: hsl(from var(--primary) h s 60%) !important;
    transition: background-color 0.2s ease;
}

tr {
    content-visibility: auto;
    contain-intrinsic-size: 0 50px;
}

tr:hover {
    background-color: var(--grey-20);
}

th {
    padding: 8px 4px;
    text-align: left;
    border-bottom: solid 2px var(--grey-60);
    background-color: var(--background);
    white-space: nowrap;
}

td {
    padding: 1px;
    text-align: left;
    border-bottom: solid 1px var(--grey-20);
}

td:nth-child(1) {
    width: 48px;
}

td:nth-child(2) {
    width: auto;
    max-width: 70px;
    min-width: 270px;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(3) {
    width: 65px;
    max-width: 70px;
}

.icon-preview img {
    padding-top: 4px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.componentinfo{
    font-size: 11px;
    color: var(--grey-20);
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    th {
        background-color: var(--grey-90);
    }

    td {
        border-bottom: solid 1px var(--grey-60);
    }

    tr:hover {
        background-color: var(--grey-60);
    }

    .arcticon {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}
