.table-container {
    width: 100%;
    max-height: 1200px;
    /* Set maximum height for scrollable area */
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: anywhere;
    /* Enable vertical scrolling */
}

.table-container thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    /* table head will be placed from the top of the table and sticks to it */
}

.sortable-header {
    cursor: pointer;
    /* Add cursor style for sorting */
    position: relative;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid #000000;
}

.desc::after {
    border-top: 4px solid #000000;
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

th{
    padding: 8px;
    text-align: center;
}
td {
    padding-top: 4px;
    text-align: center;
}

td:nth-child(1) {
    width: 10%;
    overflow-wrap: normal;
}

td:nth-child(2) {
    width: 5%;
    max-width: 70px;
    overflow-wrap: normal;
}

td:nth-child(3) {
    min-width: 300px;
    width: 20%;
    overflow-wrap: anywhere;
}

td:nth-child(4) {
    min-width: 300px;
    width: 50%;
    overflow-wrap: anywhere;
}

td:nth-child(5) {
    width: 5%;
    max-width: 70px;
    overflow-wrap: normal;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

th {
    background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {

    tr:nth-child(even) {
        background-color: rgb(37, 37, 37);
    }

    th {
        background-color: #0f0f0f;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}

.icon-preview img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: #5a975c !important;
    /* Green glow color */
    transition: background-color 0.5s ease-in;
}

#copy-button {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.copy-package {
    cursor: pointer;
    background: none;
    border: none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;

}

.package-copy {
    margin-right: 0%;
}

#packagename {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-left: 34px;
}

.package-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon {
    display: none;
    width: 20px;
    height: 20px;
}

.copy-text {
    display: inline;
}

@media screen and (max-width: 1300px) {

    .icon-preview img {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 1100px) {

    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }

    .icon-preview img {
        width: 30px;
        height: 30px;
    }

    .copy-icon {
        display: inline;
    }

    .copy-text {
        display: none;
    }
}