.table-container {
    max-height: 1200px;
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: anywhere;
}

.table-container thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.sortable-header {
    cursor: pointer;
}

.sortable-header::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.asc::after {
    border-bottom: 4px solid var(--black);
}

.desc::after {
    border-top: 4px solid var(--black);
}

table {
    width: 99.5%;
    border-collapse: collapse;
}

/* Row Glow Persistent Effect */
tr.row-glow {
    background-color: hsl(from var(--primary) h s 60%) !important;
    transition: background-color 0.2s ease;
}

tr {
    content-visibility: auto;
    contain-intrinsic-size: 0 50px;
}

tr:hover {
    background-color: var(--grey-20);
}

th {
    padding: 8px 0px;
    text-align: left;
    border-bottom: solid 2px var(--grey-60);
    background-color: var(--background);
    white-space: nowrap;
}

td {
    padding-top: 4px;
    padding-right: 40px;
    text-align: left;
    border-bottom: solid 1px var(--grey-20);
}

td:nth-child(1) {
    width: 52px;
}

td:nth-child(2) {
    width: 5%;
    max-width: 70px;
    overflow-wrap: normal;
}

td:nth-child(3) {
    width: auto;
}

td:nth-child(4) {
    width: auto;

}

td:nth-child(5) {
    width: 5%;
    max-width: 70px;
    overflow-wrap: normal;
}

.icon-preview img {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

#copy-button {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.copy-package {
    cursor: pointer;
    background: none;
    border: none;
    padding: 2px 10px;
    text-decoration: none;
    display: flex;
}
.copy-package img {
    width: 30px;
    height: 30px;
}

.package-copy {
    margin-right: 0%;
}

#packagename {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: left;
}

.package-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.copy-icon {
    display: none;
    width: 20px;
    height: 20px;
}

.copy-text {
    display: inline;
}

/*Dark mode theming */
@media (prefers-color-scheme: dark) {

    th {
        background-color: var(--grey-90);
    }

    td {
        border-bottom: solid 1px var(--grey-60);
    }

    tr:hover {
        background-color: var(--grey-60);
    }

    .arcticon {
        filter: none;
    }

    .asc::after {
        border-bottom: 4px solid white;
    }

    .desc::after {
        border-top: 4px solid white;
    }
}

@media screen and (max-width: 1100px) {

    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }

    .copy-text {
        display: none;
    }
}