name: Auto Appfilter Updater

# Description: This workflow updates the appfilter to include entries from updatable.txt
# It also check against blacklists to remove unwanted applications

on:
  workflow_dispatch:

env:

  # Paths to workfiles, change if necessary
  UPDATEABLE_URL: https://arcticons.com/assets/updatable.txt            
  PACKAGE_BLACKLIST_PATH: .github/workflows/appfilter_auto_updater/blacklists/packageblacklist.txt      
  DRAWABLE_BLACKLIST_PATH: .github/workflows/appfilter_auto_updater/blacklists/drawableblacklist.txt
  COMPONENT_BLACKLIST_PATH: .github/workflows/appfilter_auto_updater/blacklists/componentblacklist.txt  
  APPFILTER_PATH: newicons/appfilter.xml


  # PR details
  BASE_BRANCH: main         # The base branch for the pull request, change if necessary
  PR_TITLE: Update Appfilter.xml                       
  PR_BODY: "Automated update of `appfilter.xml` via GitHub Action, applying blacklist filters."
  OWNER: Arcticons          # The owner of the repository, change if necessary
  BRANCH: auto-xml-update           # This branch will be created if it does not exist

jobs:
  check-pr:
    if : ${{ github.repository == vars.REPOSITORY }}
    runs-on: codeberg-tiny-lazy
    outputs:
      existsnot: ${{ steps.check.outputs.existsnot }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ env.BASE_BRANCH }}
          sparse-checkout: |
            .git

      - name: Check if PR exists
        id: check
        env:
          GITEA_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ env.OWNER }}
          REPO: ${{ github.event.repository.name }}
          BRANCH: ${{ env.BRANCH }}
          BASE_BRANCH: ${{ env.BASE_BRANCH }}
        run: |
          response=$(curl -s -H "Authorization: token ${GITEA_TOKEN}" \
            "https://codeberg.org/api/v1/repos/${OWNER}/${REPO}/pulls?state=open")

          if echo "$response" | jq -e '.[] | select(.head.ref == "'"${BRANCH}"'" and .base.ref == "'"${BASE_BRANCH}"'")' > /dev/null; then
            echo "existsnot=false" >> "$GITHUB_OUTPUT"
          else
            echo "existsnot=true" >> "$GITHUB_OUTPUT"
          fi

  update-pr:
    needs: check-pr
    if: needs.check-pr.outputs.existsnot == 'true'
    runs-on: codeberg-tiny-lazy
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ env.BASE_BRANCH }}
          sparse-checkout: |
            newicons/appfilter.xml
            .github/workflows/

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
      - run: pip install -r .github/workflows/requirements.txt

      - name: Execute Python Script
        run: |
          python .github/workflows/appfilter_auto_updater/appfilter_auto_updater.py 
          git add $APPFILTER_PATH
          git commit -m "Update appfilter.xml" || echo "No changes to commit"

      - name: Create or update branch
        run: |
          git fetch origin $BRANCH || true
          git branch -f $BRANCH
          git push origin $BRANCH --force
      - name: Create pull request
        env:
          GITEA_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ env.OWNER }}
          REPO: ${{ github.event.repository.name }}
          BRANCH: ${{ env.BRANCH }}
          BASE_BRANCH: ${{ env.BASE_BRANCH }}
          PR_TITLE: ${{ env.PR_TITLE }}
          PR_BODY: ${{ env.PR_BODY }}
        run: |
          curl -X POST "https://codeberg.org/api/v1/repos/${OWNER}/${REPO}/pulls" \
            -H "accept: application/json" \
            -H "Authorization: token ${GITEA_TOKEN}" \
            -H "Content-Type: application/json" \
            -d "{
                  \"head\": \"${BRANCH}\",
                  \"base\": \"${BASE_BRANCH}\",
                  \"title\": \"${PR_TITLE}\",
                  \"body\": \"${PR_BODY}\"
                }"
