name: Build Release Google Play

on:
  push:
    tags:
      - "*"    
  workflow_dispatch:   


concurrency:
  group: 'play'
  cancel-in-progress: false

jobs:
    publishPlay:
        environment:
          name: Release-Play
        name: Build Arcticons Bundle
        if: startsWith(github.ref, 'refs/tags/')

        runs-on: ubuntu-latest
        steps:
            - name: Checking out branch
              uses: actions/checkout@v4
            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                distribution: 'zulu'
                java-version: 21
                cache: gradle
            - name: Write sign info
              run: |
                echo "Workflow manually triggered by ${{ github.actor }}"                
                if [ ! -z "${{ secrets.KEYSTORE }}" ]; then
                    echo storePassword='${{ secrets.KEYSTORE_PASSWORD }}' >> keystore.properties
                    echo keyAlias='${{ secrets.KEY_ALIAS }}' >> keystore.properties
                    echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> keystore.properties
                    echo storeFile='${{ github.workspace }}/key.jks' >> keystore.properties
                    echo ${{ secrets.KEYSTORE }} | base64 --decode > ${{ github.workspace }}/key.jks
                  fi
            - name: Get Gradle
              run: gradle wrapper
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
            - name: Build Normal Bundle
              run: ./gradlew app:bundleNormalPlayRelease
            - name: Build Black Bundle
              run: ./gradlew app:bundleBlackPlayRelease
            - name: Build You Bundle
              run: ./gradlew app:bundleYouPlayRelease
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  path: |
                    app/build/outputs/bundle/normalPlayRelease/*.aab
                    app/build/outputs/bundle/blackPlayRelease/*.aab
                    app/build/outputs/bundle/youPlayRelease/*.aab
            # Step: Upload APK/AAB to Google Play
            - name: Upload Normal to Google Play
              uses: r0adkll/upload-google-play@v1
              with:
                serviceAccountJson: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
                packageName: 'com.donnnno.arcticons'  # Replace with your app's package name
                releaseFiles: app/build/outputs/bundle/normalPlayRelease/*.aab # Path to your APK/AAB
                track: production  # Options: production, beta, alpha, internal
                status: completed  # Options: draft, inProgress, halted, completed
            - name: Upload Black to Google Play
              uses: r0adkll/upload-google-play@v1
              with:
                serviceAccountJson: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
                packageName: 'com.donnnno.arcticons.light'  # Replace with your app's package name
                releaseFiles: app/build/outputs/bundle/blackPlayRelease/*.aab # Path to your APK/AAB
                track: production  # Options: production, beta, alpha, internal
                status: completed  # Options: draft, inProgress, halted, completed
            - name: Upload You to Google Play
              uses: r0adkll/upload-google-play@v1
              with:
                serviceAccountJson: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
                packageName: 'com.donnnno.arcticons.you.play'  # Replace with your app's package name
                releaseFiles: app/build/outputs/bundle/youPlayRelease/*.aab # Path to your APK/AAB
                track: production  # Options: production, beta, alpha, internal
                status: completed  # Options: draft, inProgress, halted, completed


                  