name: Check appfilter.xml in PR

# DESCRIPTION: This workflow checks the newicons/appfilter.xml file of a PR to see
# if any XML errors occur, and comment on the PR if so

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - 'newicons/appfilter.xml'

jobs:
  check_appfilter:
    name: Check appfilter.xml from Pull Request
    runs-on: codeberg-tiny
    steps:
      - name: Checkout repository
        uses: https://code.forgejo.org/actions/checkout@v5
        with:
          ref: ${{ forgejo.event.pull_request.head.sha }}
          sparse-checkout: |
            newicons/appfilter.xml
          sparse-checkout-cone-mode: false
      - name: Install xmllint
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y libxml2-utils curl

      - id: validate
        name: Validate appfilter.xml
        continue-on-error: true
        run: |
          touch checkpr-error.txt
          if ! PARSE_OUTPUT=$(xmllint --noout newicons/appfilter.xml 2>&1) ; then
            echo "Parsing appfilter.xml failed."
            echo -e "${PARSE_OUTPUT}" >> checkpr-error.txt
            exit 1
          else
            echo "Parsing succeeded."
          fi
          # Note: multiline PARSE_OUTPUT seems to not work with FORGEJO_OUTPUT
          # Writing to a file instead.

      - name: Post a PR comment (when error is found)
        env: 
          PR_NUMBER: ${{ forgejo.event.pull_request.number }}
        run: |

          COMMENT_CONTENT=$(echo -e `cat checkpr-error.txt`)
          
          if [ -n "$COMMENT_CONTENT" ] ; then            
            echo "Commenting on PR ${PR_NUMBER}"
            curl -X POST "https://codeberg.org/api/v1/repos/${{ env.FORGEJO_REPOSITORY }}/issues/${PR_NUMBER}/comments" \
                -H "accept: application/json" \
                -H "Authorization: token ${{ secrets.FORGEJO_TOKEN }}" \
                -H "Content-Type: application/json" \
                -d "{
                      \"body\": \"${COMMENT_CONTENT}\"
                    }"
            # force an error exit for this run to be marked as failed
            exit 1
          fi
