name: Check appfilter.xml in PR
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - 'newicons/appfilter.xml'

jobs:
  check_appfilter:
    name: Check appfilter.xml from pull_request
    runs-on: codeberg-tiny
    outputs:
      CommentPRtext: ${{ steps.validate.outputs.text }}

    steps:
      - name: Checkout Repository ${{ github.event.pull_request.user.login }}/${{ github.event.pull_request.head.ref }}
        uses: https://code.forgejo.org/actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          sparse-checkout: |
            newicons/appfilter.xml
          sparse-checkout-cone-mode: false
      - name: Install xmllint
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y libxml2-utils
      - name: Validate appfilter.xml
        id: validate
        run: |
          if ! PARSE_OUTPUT=$(xmllint --noout newicons/appfilter.xml 2>&1) ; then
            echo "Parsing appfilter.xml failed."
            echo -e "text=$PARSE_OUTPUT" >> "$GITHUB_OUTPUT"
            exit 1
          else
            echo "Parsing succeeded."
          fi
  comment_pr_check_appfilter:
    name: Comment on PR
    needs: ['check_appfilter']
    if: failure()
    runs-on: codeberg-tiny
    env:
      PARSE_OUTPUT: ${{needs.check_appfilter.outputs.CommentPRtext}}
    steps:
      - name: Create Comment
        run: echo -e "Parsing of 'newicons/appfilter.xml' failed. Please fix the XML syntax errors. \n \`\`\` \n $PARSE_OUTPUT \n \`\`\`" >> comment_markdown.md
      - name: Make Comment
        env:
          FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
          OWNER: ${{ github.event.repository.owner }}
          REPO: ${{ github.event.repository.name }}

        run: |
          curl -X POST "https://codeberg.org/api/v1/repos/${OWNER}/${REPO}/issues/3022" \
            -H "accept: application/json" \
            -H "Authorization: token ${FORGEJO_TOKEN}" \
            -H "Content-Type: application/json" \
            -d "{
                  \"body\": \"${PARSE_OUTPUT}\"
                }"