name: Check appfilter.xml in PR
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - 'newicons/appfilter.xml'

jobs:
  check_appfilter:
    name: Check appfilter.xml from Pull Request
    runs-on: codeberg-tiny
    steps:
      - name: Checkout repository
        uses: https://code.forgejo.org/actions/checkout@v5
        with:
          ref: ${{ forgejo.event.pull_request.head.sha }}
          sparse-checkout: |
            newicons/appfilter.xml
          sparse-checkout-cone-mode: false
      - name: Install xmllint
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y libxml2-utils curl
      - name: Validate appfilter.xml
        continue-on-error: true
        id: validate
        run: |
          touch checkpr-error.txt
          if ! PARSE_OUTPUT=$(xmllint --noout newicons/appfilter.xml 2>&1) ; then
            echo "Parsing appfilter.xml failed."
            echo -e "${PARSE_OUTPUT}" > checkpr-error.txt
            cat checkpr-error.txt
            exit 1
          else
            echo "Parsing succeeded."
          fi
          
      - name: Debug result
        env: 
          OWNER: ${{ github.event.repository.owner }}
          NAME: ${{ github.event.repository.owner }}
          PR_NUMBER: ${{ forgejo.event.pull_request.number }}
        run: |
          export COMMENT_CONTENT=$(cat checkpr-error.txt)
          echo $COMMENT_CONTENT
          if [ -n "$COMMENT_CONTENT" ] ; then
            
            echo "Commenting on PR \#${PR_NUMBER}"
            
            curl -X POST "https://codeberg.org/api/v1/repos/$OWNER/$REPO/issues/$PR_NUMBER" \
                -H "accept: application/json" \
                -H "Authorization: token ${{ secrets.FORGEJO_TOKEN }}" \
                -H "Content-Type: application/json" \
                -d "{
                      \"body\": \"${COMMENT_CONTENT}\"
                    }"            
          fi


  # comment_pr_check_appfilter:
  #   name: Comment on PR
  #   needs: ['check_appfilter']
  #   if: failure()
  #   runs-on: codeberg-tiny
  #   env:
  #     PARSE_OUTPUT: ${{needs.check_appfilter.outputs.CommentPRtext}}
  #   steps:
  #     - name: Create Comment
  #       run: echo -e "Parsing of 'newicons/appfilter.xml' failed. Please fix the XML syntax errors. \n \`\`\` \n $PARSE_OUTPUT \n \`\`\`" >> comment_markdown.md
  #     - name: Make Comment
  #       env:
  #         FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  #         OWNER: ${{ github.event.repository.owner }}
  #         REPO: ${{ github.event.repository.name }}

  #       run: |
  