PyGithub==2.9.0
lxml==6.0.2
pillow==12.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
attrs==26.1.0
frozenlist==1.8.0
idna==3.11
multidict==6.7.1
propcache==0.4.1
yarl==1.23.0
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.6
requests==2.33.0
soupsieve==2.8.3
urllib3==2.6.3
