PyGithub==2.9.1
lxml==6.1.1
pillow==12.3.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
propcache==0.5.2
yarl==1.24.5
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.0
requests==2.34.2
soupsieve==2.9.2
urllib3==2.7.0
